table > tbody > tr.has-child td.details-control {
    cursor: pointer;
}
table > tbody > tr.has-child td.details-control:before {
    height: 14px;
    width: 14px;
    display: block;
    position: relative;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #31b131;
    margin-left: 4px;
}
table > tbody > tr.shown td.details-control:before {
    background-color: #e43a45;
    content: '-';
}

.table td, .table th {
    font-size: 12px;
    /*padding: 2px 6px;*/
}
.table thead tr th {
    font-size: 13px;
    font-weight: 500;
}
/** Untuk Searching datatable */
table#kt_table_1 > tfoot{
    display: table-header-group;
}

/** Untuk Modal */
@media (min-width: 1400px) {
    .modal-dialog.modal-xl {
        max-width: 90%; }
}
#mod-iframe-large .modal-body {
    padding: 1px;
}
